* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.profile-container{
  border: 1px solid tomato;
}

.profile-stats {
  display: flex;
  column-gap: 30px;
}

.profile-columns {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid tomato;
}